name: release

on:
  push:
    branches:
      - master
      - main
      - next
      - next-major
      - alpha
      - beta

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: release
        uses: ./
        id: release
        with:
          dry_run: true
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/commit-analyzer
            @semantic-release/github
            @semantic-release/release-notes-generator
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Setup Node.js with GitHub Package Registry
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: 20
      #     registry-url: "https://npm.pkg.github.com"
      #     scope: "iwpnd"
      #
      # - name: Publish To GitHub Package Registry
      #   if: steps.semantic.outputs.new_release_published == 'true'
      #   run: npm publish
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #
      # - name: Push updates to branch for major version
      #   if: steps.semantic.outputs.new_release_published == 'true'
      #   run: "git push https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git HEAD:refs/heads/v${{steps.semantic.outputs.new_release_major_version}}"
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
